<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Coronavirus Tracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body>

	<div>
		<div class="jumbotron">
			<h1 th:text="${testHome}"></h1>
			<h4>Last updated 19 March 2020 </h4>
			
			
			<table class="table table-dark">
				<thead>
					<tr>
						<th><h5>Total UK Cases </h5></th>
						<th><h5>New UK Cases </h5></th>
						<th><h5>Total UK Deaths </h5></th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<td th:text="${totalUKCases}"></td>
						<td th:text="${newUKCases}"></td>
						<td th:text="${totalUKDeaths}">0</td>
					</tr>
				</tbody>
			</table>
			
			
			<h1>Total UK Cases </h1>
			<h1 th:text="${totalUKCases}"></h1>
			<h1>New UK Cases </h1>
			<h1 th:text="${newUKCases}"></h1>
			<h1>Total UK Deaths </h1>
			<h1 th:text="${totalUKDeaths}"></h1>
			
		</div>
		<div>
			<table class="table table-dark">
				<thead>
					<tr>
						<th>STATE</th>
						<th>COUNTRY</th>
						<th>NumberOfCases</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="locationStat : ${allStats}">
						<td th:text="${locationStat.country}"></td>
						<td th:text="${locationStat.state}"></td>
						<td th:text="${locationStat.numberOfCases}">0</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>